extends index.pug
block content
    form(class="ui form myForm" id="myForm", method="post", action=`/editUser`)
        h2(class="ui header formHead") Editing User
        label(class="ui yellow label formField formLabel" for="username") Username
        input(class="ui input formField formInput" type="text", id="username", name="username" placeholder="username" value= user.username)
        label(class="ui yellow label formField formLabel" for="name") First Name
        input(class="ui input formField formInput" type="text", id="name", name="firstname" placeholder="first name" value=user.firstname)
        label(class="ui yellow label formField formLabel" for="name") Last Name
        input(class="ui input formField formInput" type="text", id="name", name="lastname" placeholder="last name" value=user.lastname)
        label(class="ui yellow label formField formLabel" for="email") Email
        input(class="ui input formField formInput" type="email", id="email", name="email" placeholder="email" value= user.email)
        label(class="ui yellow label formField formLabel" for='age') Age
        input(class="ui input formField formInput" type="number" id='age', name='age' placeholder="age" value= user.age)
        input(class="formField formInput" type="hidden" name='id' value= user._id)
        input(class="ui pink button formField formButton" type="submit" value="Confirm User")
    h3 your id is #{user._id}
    a(href="/users")
        button(class="ui pink button") cancel