doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(type='text/javascript', src='users.json')
    .listHead
        h3 user listing
        a(href="/")
            button#create-user create user
    ul
        each val in userData.users
            div(class="user")
                each value, key in val
                    li= key + ': ' + value
                .userButtons
                    a(href=`/edit?id=${val.id}`)
                        button#edit-user edit
                    a(href=`/deleteUser?id=${val.id}`)
                        button#delete-user delete