body {
  padding: 50px;
  font: 16px "Ubuntu", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  font-family: "Zilla Slab" !important;
  font-weight: lighter !important;
  font-size: 2.5rem !important;
}

th.sorted.ascending:after {
  content: "  \2191";
}

th.sorted.descending:after {
  content: " \2193";
}

a {
  color: #00b7ff;
}

.userCreation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userListButton {
  padding-top: 1%;
}

.myForm {
  display: grid;
}

.formHead {
  font-weight: lighter;
  font-size: 3rem;
  margin: 0;
}

.user {
  list-style: none;
}
.listHead {
  display: inline;
}

.buttons {
  width: 10%;
}

.userList {
  overflow: scroll;
}

.userHead {
  display: inline;
}

.userButtons {
  display: inline;
}

.formButton {
  margin-top: 1.25rem;
}

.formLabel {
  margin: 0.25rem;
}
