body {
  padding: 50px;
  font: 16px "Ubuntu", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  color: #00B7FF;
}

.userCreation{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myForm{
  display: grid;
}

.formHead{
  font-weight: lighter;
  font-size: 3rem;
  margin: 0;
}

.user{
  list-style: none;
}
.listHead{
  display: inline;
}

.userHead{
  display: inline;
}

.userButtons{
  display: inline;
}

.formButton{
  margin-top: 1.25rem;
}

.formLabel{
  margin: 0.25rem;
}
